.custom-link a {
  color: #c1321d; /* Màu chữ */
}

.custom-link a:hover {
  color: black; /* Màu chữ khi hover */
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2.2906835em;
  border-spacing: 0;
  border-collapse: separate;
  border-width: 1px;
  border-color: black;
}

table tbody td {
  background: #fafafa;
  border-width: 1px;
  border-color: black;
}

table td,
table th {
  padding: 1em 1.618em;
  vertical-align: top;
  text-align: left;
  font-size: 0.9em;
}
.header-top .header--row-inner,
body:not(.fl-builder-edit) .button,
body:not(.fl-builder-edit)
  button:not(
    .menu-mobile-toggle,
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
body:not(.fl-builder-edit) input[type="button"]:not(.ed_button),
button.button,
input[type="button"]:not(
    .ed_button,
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
input[type="reset"]:not(
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
input[type="submit"]:not(
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
.pagination .nav-links > *:hover,
.pagination .nav-links span,
.nav-menu-desktop.style-full-height .primary-menu-ul > li.current-menu-item > a,
.nav-menu-desktop.style-full-height
  .primary-menu-ul
  > li.current-menu-ancestor
  > a,
.nav-menu-desktop.style-full-height .primary-menu-ul > li > a:hover,
.posts-layout .readmore-button:hover {
  background-color: rgba(0, 0, 0, 0.19);
}

.button:not(.components-button):not(.customize-partial-edit-shortcut-button),
body:not(.fl-builder-edit) .button,
body:not(.fl-builder-edit)
  button:not(
    .menu-mobile-toggle,
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
body:not(.fl-builder-edit) input[type="button"]:not(.ed_button),
input[type="button"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ),
input[type="button"]:not(.ed_button),
input[type="reset"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ),
input[type="submit"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ) {
  color: #fff;
  /* background: #235787; */
}
.button:not(.components-button, .customize-partial-edit-shortcut-button),
body:not(.fl-builder-edit) .button,
body:not(.fl-builder-edit)
  button:not(
    .menu-mobile-toggle,
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
body:not(.fl-builder-edit) input[type="button"]:not(.ed_button),
button:not(.components-button, .customize-partial-edit-shortcut-button),
input[type="button"]:not(
    .ed_button,
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
input[type="reset"]:not(
    .components-button,
    .customize-partial-edit-shortcut-button
  ),
input[type="submit"]:not(
    .components-button,
    .customize-partial-edit-shortcut-button
  ) {
  border: none;
  cursor: pointer;
  padding: 0 1.3em;
  line-height: 2.5em;
  min-height: 2.6em;
  max-width: 100%;
  font-weight: bolder;
  text-transform: uppercase;
  transition: transform 0.3s, border 0.3s, background 0.3s, box-shadow 0.3s,
    opacity 0.3s, color 0.3s;
  border-radius: 1px;
  display: inline-block;
}
.button:not(.components-button):not(.customize-partial-edit-shortcut-button),
button:not(.components-button):not(.customize-partial-edit-shortcut-button),
input[type="button"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ),
input[type="reset"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ),
input[type="submit"]:not(.components-button):not(
    .customize-partial-edit-shortcut-button
  ) {
  cursor: pointer;
  padding: 0 0.5em;
  line-height: 1.5em;
  min-height: 1.5em;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
  border-top-color: 1px;
  border-right-color: 1px;
  border-bottom-color: 1px;
  border-left-color: 1px;
}
.entry-content .table-wrapper {
  max-width: 100%;
  overflow: auto;
}
body {
  color: #686868;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.618;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* p {
  margin: 0 0 1.41575em;
  display: flex;
} */